body {
    font-size: 16px;
    background: #F9EAE9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root {
    width: 1000px;
    margin: 100px auto;
    display: flex;
    align-items: flex-start;
}

.root__aside {
    width: 360px;
    position: relative;
    height: 100%;
}

.aside__back-button {
    appearance: none;
    background: inherit;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
    color: #777;
    position: absolute;
    vertical-align: middle;
    left: 30px;
    top: 30px;
    text-transform: uppercase;
}

.aside__back-button span {
    display: inline-block;
}

.aside__back-button:hover {
    color: #333;
}

.button__icon {
    width: 16px;
    display: inline-block;
    vertical-align: text-bottom;
}

.root__main {
    width: 640px;
    background: white;
}

.main__nav {
    padding: 30px;
}

.nav__list {
    list-style-type: none;
    float: right;
    width: 230px;
    display: flex;
    justify-content: space-between;
}

.list__item {
    display: inline-block;
}

a {
    cursor: pointer;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #989898;
    font-size: 12px;
    text-transform: uppercase;
}

a:hover,
a:active {
    color: black;
}

.main__title {
    font-size: 60px;
    position: relative;
    line-height: 1.1;
    font-family: "Playfair Display";
}

.title__span:after {
    position: absolute;
    content: '';
    width: 100px;
    height: 4px;
    right: 0;
    bottom: 20px;
    background: black;
}

.main__wrapper {
    padding: 115px 100px 93px;
}

.main__subtitle {
    padding-top: 26px;
    padding-bottom: 40px;
    font-family: "Playfair Display";
    font-size: 18px;
}

.subtitle__span {
    font-weight: 700;
}

.main__description {
    display: flex;
    flex-direction: row;
}

.description__frame {
    position: relative;
}

.description__frame:after {
    content: url('./img/play.svg');
    position: absolute;
    top: 37px;
    left: 67px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba( 255, 255, 255, 0.8);
}

.description__button {
    margin-top: 10px;
    position: relative;
    appearance: none;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    background: inherit;
    border: none;
    font-size: 12px;
}

.description__button:after {
    position: absolute;
    font-size: 12px;
    content: url('./img/arrow-forward.svg');
    right: -30px;
}

.description__text {
    margin-left: 45px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 1.9;
}