* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background: #FBCC7B;
}

.card__aside::-webkit-scrollbar,
.card__main::-webkit-scrollbar {
    width: 8px;
}

.card__aside::-webkit-scrollbar-thumb,
.card__main::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 10px;
}

.card__aside::-webkit-scrollbar-track,
.card__main::-webkit-scrollbar-track {
  background: inherit;
}

.card {
    width: 800px;
    height: 450px;
    margin: 100px auto;
    background: white;
    display: flex;
    flex-direction: row;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

.card__aside {
    padding: 40px;
    width: 300px;
    height: 100%;
    overflow: hidden;
    background: #F2F2F2;
}

.card__main {
    padding: 40px 40px 0;
    height: 100%;
    width: 500px;
    overflow: hidden;
    background: #fff;
}

.card__aside:hover {
    overflow: auto;
    padding-right: 32px;
}

.card__main:hover {
    overflow: auto;
    padding-right: 32px;
}

.header__title {
    font-size: 20px;
}

.aside__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
}

.content__item {
    height: 110px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    color: #777;
    padding: 10px;
}

.item__image {
    width: 60px;
}

.item__card {
    margin-top: 10px;
}

.item__date {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 500;
}

.content__item:nth-of-type(2) {
    margin: 30px 0;
}

.content__item--active {
    border: 2px solid #899CC6;
}

.content__item:hover {
    border: 2px solid #899CC6;
}

.main__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}

.header__value {
    font-weight: 600;
    display: flex;
}

.value__main {
    font-size: 24px;
    font-weight: 700;
}

.main__hr {
    width: 100%;
    background: #ddd;
    height: 1px;
}

.main__item {
    width: 100%;
    display: flex;
    margin: 40px 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item__remove {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove__image {
    height: 14px;
    width: 14px;
}

.description__title {
    font-weight: 700;
    font-size: 18px;
}

.description__subtitle {
    font-size: 13px;
    color: #888;
    line-height: 2;
}

.item__left {
    display: flex;
    align-items: center;
}

.item__description {
    margin-left: 30px;
}

.item__price {
    color: #8B9CC7;
    font-weight: 700;
    display: flex;
}

.item__price--active {
    color: #81CD66;
}

.price__null {
    font-size: 10px;
}