* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

input {
    outline: 0;
    border: 0;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    background: transparent;
}

.layout {
    min-width: 940px;
}

.header__watches-img {
    position: absolute;
    bottom: 0;
    right: -20%;
    max-height: 85%;
}

.root {
    background: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.header__inner {
    position: relative;
}

.header__top {
    position: absolute;
    top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav__question {
    margin-left: 25px;
    max-width: 140px;
    width: 100%;
}

.header__content {
    min-height: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.section {
    border-top: 1px solid #dedede;
    padding: 40px 20px;
    overflow: hidden;
}

.columns {
    margin: 0 -40px;
    display: flex;
}

.columns__item {
    padding: 0 40px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
}

.image-promo {
    display: flex;
    align-items: center;
}

.image-promo__content {
    flex-grow: 1;
}

.image-promo__preview {
    flex-basis: 400px;
}

.image-promo__image {
    max-width: 100%;
}

.runners {
    background: url(../../img/runners.jpg) no-repeat 50%;
    background-size: cover;
    padding: 0 20px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.runners__inner {
    position: relative;
    z-index: 1;
}

.runners__content {
    min-height: 600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.runners::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}