body {
    margin: 0;
    padding: 0;
    background: url('./img/background.jpg') no-repeat;
    background-size: 100%;
    font-family: Roboto, sans-serif;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.card {
    width: 340px;
    height: 315px;
    border-radius: 5px;
    background-color: #fff;
}

.card__nav {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav__link {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin: 0 4px;
    background-color: #dedede;
}

.link-active {
    background: #a9aaaa;
}

.card__title {
    vertical-align: middle;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 30px;
}

.card__payment {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    color: #a9a9a9;
    border-top: 1px solid #dedede;
}

.payment__image {
    width: 40px;
    margin-left: 35px;
    margin-right: 25px;
}

.card__payment:hover {
    background: #f5f5f5;
    cursor: pointer;
}

.payment-active {
    color: #000;
    position: relative;
}

.payment-active:after {
    position: absolute;
    content: url('./img/check.svg');
    right: 15px;
}

.card__button {
    width: 100%;
    font-size: 13px;
    color: white;
    display: flex;
    font-weight: 600;
    height: 44px;
    flex-direction: row;
    border: none;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #4B8BDD;
    text-align: center;
}